body {
    font-family: 'Quicksand', sans-serif;
    margin:auto;
    max-width: 1200px;
    min-width: 800px;
    justify-content: center;
    background-image: linear-gradient(45deg,#fbc1b5, #dfa3a6, #bfc9e0, #9da9b7);
    background-size: 400%, 400%;
}

h1 {
    text-align: center;
    padding: 30px;
    font-weight: 700;
    font-size:40px;
}

h2 {
    padding-left: 25px;
    font-weight:600;
    font-size: 28px;
}

h3 {
    padding-left: 25px;
    font-weight: 500;
    padding-top: 0px;
}

main {
    margin: auto;
    /* display: flex; */
    width: 700px;
}
article {
    padding-top:10px;
    padding-bottom: 20px;
    background-color: #f4f4f4;
    border:3px solid #c79eaf;
    margin-bottom: 30px;
}

figcaption {
    padding-left: 25px;
    padding-top: 10px;
    font-size: 14px;
}
p {
    padding: 25px;
    padding-bottom: 5px;
    line-height: 1.5em;
    font-weight: 300;
}
footer {
    text-align: center;
    padding-top: 30px;
    height:50px;
}

footer a {
    padding: 0px 8px 0px 8px;
}